body {
  background: rgb(119, 184, 192);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

.picture {
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
}

.borderbox {
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  width: 21rem;
  background: white;
  margin: 2rem;
  box-shadow: 9px 10px 5px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 9px 10px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 10px 5px -2px rgba(0,0,0,0.75);
}

.subtitle {
  font-weight: bold;
  font-size: x-large;
}

.bubble {
  position: absolute;
  border-radius: 20rem;
  border: 5px solid lightblue;
}